IRDP_CRMSource/Src/Workflows/BulkUploadSendResultsofPostUploadChecks-D0825C5E-20CC-EA11-A812-000D3A3A7F02.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Note_is_created":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SubscribeOnNewItems"}},"type":"ApiConnectionWebhook","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"body":{"NotificationUrl":"@{listCallbackUrl()}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('annotations'))}/onnewitemswebhook","queries":{"scope":"Organization"},"authentication":"@parameters('$authentication')"}}},"actions":{"Wait_15_minutes":{"runAfter":{"Check_whether_the_note_has_been_created_on_an_Account_record":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":1,"unit":"Minute"}}},"Get_the_Account_Record_for_the_Institution":{"runAfter":{"Wait_15_minutes":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['_objectid_value']))}","authentication":"@parameters('$authentication')"}},"Get_the_Team_for_the_Institution":{"runAfter":{"Get_the_Account_Record_for_the_Institution":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('teams'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_the_Account_Record_for_the_Institution')?['_nhs_team_value']))}","authentication":"@parameters('$authentication')"}},"Check_whether_the_note_has_been_created_on_an_Account_record":{"actions":{},"runAfter":{},"else":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Cancelled"}}}},"expression":{"equals":["@triggerBody()?['_objectid_type']","accounts"]},"type":"If"},"Get_the_Uploading_User":{"runAfter":{"Wait_15_minutes":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('systemusers'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['_createdby_value']))}","authentication":"@parameters('$authentication')"}},"Get_the_NHSBT_Account_-_for_CC_Email_address":{"runAfter":{"Wait_15_minutes":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('accounts'))}/items/@{encodeURIComponent(encodeURIComponent('612610ab-bc84-4a28-bc71-b8a035be7ad5'))}","authentication":"@parameters('$authentication')"}},"Get_the_NHSBT_Team":{"runAfter":{"Get_the_NHSBT_Account_-_for_CC_Email_address":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('teams'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_the_NHSBT_Account_-_for_CC_Email_address')?['_nhs_team_value']))}","authentication":"@parameters('$authentication')"}},"Get_the_NHSBT_Queue_-_for_From_Email_address":{"runAfter":{"Get_the_NHSBT_Team":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('queues'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_the_NHSBT_Team')?['_queueid_value']))}","authentication":"@parameters('$authentication')"}},"Dummy_Activity_to_Merge_Parallel_Streams":{"actions":{},"runAfter":{"Get_the_Uploading_User":["Succeeded"],"Get_the_Team_for_the_Institution":["Succeeded"],"Get_the_NHSBT_Queue_-_for_From_Email_address":["Succeeded"]},"expression":{"equals":[1,1]},"type":"If"},"Initialize_variable:_CountOfActivities":{"runAfter":{"Dummy_Activity_to_Merge_Parallel_Streams":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CountOfActivities","type":"integer"}]}},"Initialize_variable:_CountOfDonors":{"runAfter":{"Dummy_Activity_to_Merge_Parallel_Streams":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CountOfDonors","type":"integer"}]}},"Initialize_variable:_IsFileLevelFailure":{"runAfter":{"Dummy_Activity_to_Merge_Parallel_Streams":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsFileLevelFailure","type":"boolean","value":false}]}},"List_Activities_Outstanding":{"runAfter":{"Initialize_variable:_CountOfActivities":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('tasks'))}/items","queries":{"$filter":"_owningteam_value eq @{body('Get_the_Team_for_the_Institution')?['teamid']} and statecode eq 0"},"authentication":"@parameters('$authentication')"}},"Count_Activities_Outstanding":{"runAfter":{"List_Activities_Outstanding":["Succeeded"]},"type":"SetVariable","inputs":{"name":"CountOfActivities","value":"@length(body('List_Activities_Outstanding')?['value'])"}},"List_Contradictory_Sources":{"runAfter":{"Initialize_variable:_CountOfDonors":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('nhs_rarebloodsources'))}/items","queries":{"$filter":"_nhs_parentaccount_value eq @{body('Get_the_Account_Record_for_the_Institution')?['accountid']} and statuscode eq 127130000"},"authentication":"@parameters('$authentication')"}},"Count_Contradictory_Sources":{"runAfter":{"List_Contradictory_Sources":["Succeeded"]},"type":"SetVariable","inputs":{"name":"CountOfDonors","value":"@length(body('List_Contradictory_Sources')?['value'])"}},"List_File_Level_Errors":{"runAfter":{"Initialize_variable:_IsFileLevelFailure":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('tasks'))}/items","queries":{"$filter":"_owningteam_value eq @{body('Get_the_Team_for_the_Institution')?['teamid']} and statecode eq 0 and startswith(subject, 'File Error:')"},"authentication":"@parameters('$authentication')"}},"Detect_File_Level_Failure":{"runAfter":{"List_File_Level_Errors":["Succeeded"]},"type":"SetVariable","inputs":{"name":"IsFileLevelFailure","value":"@not(empty(body('List_File_Level_Errors')?['value']))"}},"If_Result_is_File_Level_Failure":{"actions":{"Create_File_Error_Email":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"systemusers(@{body('Get_the_Uploading_User')?['systemuserid']})"},{"participationtypemask":3,"partyid@odata.bind":"accounts(@{body('Get_the_NHSBT_Account_-_for_CC_Email_address')?['accountid']})"},{"participationtypemask":1,"partyid@odata.bind":"queues(@{body('Get_the_NHSBT_Queue_-_for_From_Email_address')?['queueid']})"}],"item/deliveryprioritycode":2,"item/description":"IRDP received a bulk upload file named @{triggerBody()?['filename']} at @{triggerBody()?['createdon']} from user @{body('Get_the_Uploading_User')?['internalemailaddress']} on behalf of @{body('Get_the_Account_Record_for_the_Institution')?['name']}. <BR><BR>\n\nThis file was rejected as it failed validation. Please log into IRDP to check the dashboard for the failure reason.","item/prioritycode":2,"item/regardingobjectid_account_email@odata.bind":"accounts(@{body('Get_the_Account_Record_for_the_Institution')?['accountid']} )","item/subject":"IRDP - Bulk Upload Failed for @{body('Get_the_Account_Record_for_the_Institution')?['name']}"},"authentication":"@parameters('$authentication')"}},"Send_File_Error_Email":{"runAfter":{"Create_File_Error_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_File_Error_Email')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Count_Activities_Outstanding":["Succeeded"],"Count_Contradictory_Sources":["Succeeded"],"Detect_File_Level_Failure":["Succeeded"]},"else":{"actions":{"Test_if_Count_of_Other_Errors_More_Than_Zero":{"actions":{"Create_Row_Error_Email":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"systemusers(@{body('Get_the_Uploading_User')?['systemuserid']})"},{"participationtypemask":3,"partyid@odata.bind":"accounts(@{body('Get_the_NHSBT_Account_-_for_CC_Email_address')?['accountid']})"},{"participationtypemask":1,"partyid@odata.bind":"queues(@{body('Get_the_NHSBT_Queue_-_for_From_Email_address')?['queueid']})"}],"item/deliveryprioritycode":2,"item/description":"IRDP received a bulk upload file named @{triggerBody()?['filename']} at @{triggerBody()?['createdon']} from user @{body('Get_the_Uploading_User')?['internalemailaddress']} on behalf of @{body('Get_the_Account_Record_for_the_Institution')?['name']} . <BR><BR>\n\nThe following issues have been identified with the provided data:\n<ul>\n<li>@{variables('CountOfActivities')} donors/units were rejected due to validation errors</li>\n<li>@{variables('CountOfDonors')} donors/units were updated, but have contradictory antigen results</li>\n</ul>\n<BR>\nPlease log into IRDP to check the dashboard for the specific failure reason(s)","item/prioritycode":2,"item/regardingobjectid_account_email@odata.bind":"accounts(@{body('Get_the_Account_Record_for_the_Institution')?['accountid']})","item/subject":"IRDP - Bulk Upload Failed for @{body('Get_the_Account_Record_for_the_Institution')?['name']}"},"authentication":"@parameters('$authentication')"}},"Send_Row_Error_Email":{"runAfter":{"Create_Row_Error_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Row_Error_Email')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"else":{"actions":{"Create_Success_Email":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord"},"parameters":{"entityName":"emails","item/activitypointer_activity_parties":[{"participationtypemask":2,"partyid@odata.bind":"systemusers(@{body('Get_the_Uploading_User')?['systemuserid']})"},{"participationtypemask":3,"partyid@odata.bind":"accounts(@{body('Get_the_NHSBT_Account_-_for_CC_Email_address')?['accountid']})"},{"participationtypemask":1,"partyid@odata.bind":"queues(@{body('Get_the_NHSBT_Queue_-_for_From_Email_address')?['queueid']})"}],"item/description":"IRDP received a bulk upload file named @{triggerBody()?['filename']} at @{triggerBody()?['createdon']} from user @{body('Get_the_Uploading_User')?['internalemailaddress']} on behalf of @{body('Get_the_Account_Record_for_the_Institution')?['name']} . <BR><BR>\n\nThe updates have been successfully applied with no validation issues encountered.","item/regardingobjectid_account_email@odata.bind":"accounts(@{body('Get_the_Account_Record_for_the_Institution')?['accountid']} )","item/subject":"IRDP - Bulk Upload Succeeded for @{body('Get_the_Account_Record_for_the_Institution')?['name']}"},"authentication":"@parameters('$authentication')"}},"Send_Success_Email":{"runAfter":{"Create_Success_Email":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformBoundAction"},"parameters":{"entityName":"emails","actionName":"Microsoft.Dynamics.CRM.SendEmail","recordId":"@outputs('Create_Success_Email')?['body/activityid']","item/IssueSend":true},"authentication":"@parameters('$authentication')"}}}},"expression":{"or":[{"greater":["@variables('CountOfDonors')",0]},{"greater":["@variables('CountOfActivities')",0]}]},"type":"If"}}},"expression":{"equals":["@variables('IsFileLevelFailure')",true]},"type":"If"}}}},"schemaVersion":"1.0.0.0"}